<div class="text-end">
  <button type="button" id="button-confirm" class="btn btn-primary">{{ button_confirm }}</button>
</div>
<script type="text/javascript"><!--
  $('#button-confirm').on('click', function () {
    var element = this;

    $.ajax({
      url: 'index.php?route=extension/unzer_payments/payment/unzer_payments.initpaypage&language={{ language }}',
      dataType: 'json',
      beforeSend: function () {
        $(element).button('loading');
      },
      complete: function () {
        $(element).button('reset');
      },
      success: function (json) {
        if (json['error']) {
          $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
        }

        if (json['token']) {
          var successURL = json['successURL'];
          var checkout = new window.checkout(json['token'], {locale: '{{ language }}' });
          checkout.init().then(function() {
            checkout.open();
            checkout.abort(function() {
              $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> {{ unzer_transaction_canceled_by_user }} <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            });
            checkout.success(function(data) {
              if (!data.redirectUrl) {
                $.ajax({
                  url: successURL,
                  dataType: 'json',
                  success: function (json) {
                    if (json['error']) {
                      $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
                    }

                    if (json['redirect']) {
                      window.location.href = json['redirect'];
                    }
                  },

                  error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                  }
                });
              }

            });
            checkout.error(function(error) {
              $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> {{ unzer_generic_error }} <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            });
          });
        }

      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });
  //--></script>
